/target
circom/
circuits/node_modules/
circuits/main_js/
!circuits/main_js/input.json
circuits/main.r1cs
circuits/main.sym
circuits/pot12_0000.ptau
circuits/pot12_0001.ptau
circuits/main_0000.zkey
circuits/witness.wtns
circuits/witness.json
circuits/proof.json
circuits/public.json
